<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MetaMemeMarket</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div>
            <a href="/">MetaMemeMarket</a>
        </div>
        <div>
            <a href="/upload">Upload</a>
            <a href="/profile">Profile</a>
        </div>
        {{!-- <a href="/login">Login</a> --}}
        {{!-- <a href="/api/users/logout">logout</a> --}}
    </nav>
    {{{body}}}
</body>
</html>