<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MetaMemeMarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="topnav">
            {{#if loggedIn}}
            <a href="/upload" class="link">Upload</a>
            {{!-- <a href="/upload" class="link">Upload</a> --}}
            <a id="title" href="/"><span>Meta</span>MemeMarket</a>
            <a href="/user/{{currentUser}}" class="link">{{currentUser}} 💰<span style="font-size: 10px;">x</span>420</a>

            {{else}}
            <a href="/signup" class="link">Sign up</a>
            <a id="title" href="/"><span>Meta</span>MemeMarket</a>
            <a href="/login" class="link">Login</a>
            {{/if}}
        {{!-- <a href="/login">Login</a> --}}
        {{!-- <a href="/api/users/logout">logout</a> --}}
    </div>
    {{!-- <div id="spacer"></div> --}}
    {{{body}}}
</body>
</html>