
<div id="home">
    {{#each memes}}
        <div class="card">
            <img class="meme" src={{img}}>
            <h4>Owner: {{User.username}}</h4>
            <h5>Rating: {{rating}}</h5>
            <p>Value: {{value}}</p>
            {{!-- <button>Buy</button> --}}
        </div>
    {{/each}}
</div>