
<div id="home">
    {{#each memes}}
        <div class="card">
            <img class="meme" src={{img}}>
            <h4 class="color-text">@{{user.username}}</h4>
            <p>${{value}}</p>
            {{!-- <button>Buy</button> --}}
            <a href="/meme/{{id}}"></a>
        </div>
    {{/each}}

</div>