<h1>THis is the login page</h1>
{{!-- TODO: create a login form --}}
<form id="login-form">
    <input type="text" id="email" placeholder="email">
        <input type="text" id="username" placeholder="username">
    <input type="password" id="password" placeholder="password">
    <button>login!</button>
</form>

<script src="/js/login.js"></script>
