
<h1 class="welcome"><p>
  <span style='color: goldenrod'>l</span>
  <span style='color: #0b0b0b'>o</span>
  <span style='color: #cccccc'>g</span>
  <span style='color: #0b0b0b'>i</span>
  <span style='color: goldenrod'>n</span>


</p></h1>
{{!-- TODO: create a login form --}}
<form id="login-form1">
    <input type="email" id="email" placeholder="email">
</form>
<form id="login-form2">
    <input type="text" id="username" placeholder="username">
</form>
<form id="login-form3">

    <input type="password" id="password" placeholder="password"><br>
</form>
<form id="login-form4">

    <button class="login-btn">login!</button>
</form>


<div class="create-check">
    <br><h3>Don't have an account?<br><a href="/signup">  Sign up!</a></h3>
</div>

<div class="logo-card">
<img src="/assets/METAMEME.png" style="height: 35vh; width: 35vh;" alt="$">


</div>

<script src="/js/login.js"></script>