<div id="meme">
    <div class="card">
        <img class="meme" src={{meme.img}}>
        <h4>Owner: {{meme.user.username}}</h4>
        <h5>Price: {{meme.share_price}}</h5>
        <p>Shares: {{meme.number_shares}}</p>
        <button>Buy</button>
    </div>
</div>