<div class="create-message">
    <h1>Welcome to the <span>Meta</span>MemeMarket</h1>

    <h3>Before you can join, we're going to need some information from you. All sensitive information is kept enctrypted.</h3>
</div>

<div class="create-form">
    <form id="signup-form">
        <label for="signup-username">Username:</label><br>
        <input type="text" id="signup-username" placeholder="username"><br>

        <label for="signup-email">Email:</label><br>
        <input type="email" id="signup-email" placeholder="email"><br>

        <label for="password1">Password:</label><br>
        <input type="password" id="password1" placeholder="Password"><br>

        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" placeholder="Confirm Password"><br>

        <label for="state-id">State identification number:</label><br>
        <input type="text" id="state-id" placeholder="License number"><br>

        <label for="bank-name">Name of Financial Institution:</label><br>
        <input type="text" id="bank-name" placeholder="Name of bank"><br>

        <label for="account-number">Account Number:</label><br>
        <input type="number" id="account-number" placeholder="Bank account number"><br>

        <label for="bank-routing">Account Routing Number:</label><br>
        <input type="number" id="bank-routing" placeholder="Bank routing number"><br><br>

        <button>YEET!</button>
    </form>
</div>

<div class="create-check">
    <h3>Already have an account?<a href="/login">  Login</a> instead.</h3>
</div>

<script src="/js/signup.js"></script>