<div class="welcome">
    <h1><p>
  <span style='color: goldenrod'>s</span>
  <span style='color: #0b0b0b'>i</span>
  <span style='color: #0b0b0b'>g</span>
  <span style='color: #0b0b0b'>n</span>
  <span style='color: #cccccc'>u</span>
  <span style='color: goldenrod'>p</span>


</p><span></span></h1>

    {{!-- <h3>Before you can join, we're going to need some information from you. All sensitive information is kept enctrypted.</h3> --}}
</div>

<div class="create-form">
    <form id="signup-form">
        <label for="signup-username"></label><br>
        <input type="text" id="signup-username" placeholder="Username (4+ char)"><br>

        <label for="signup-email"></label><br>
        <input type="email" id="signup-email" placeholder="Enter Email"><br>

        <label for="password1"></label><br>
        <input type="password" id="password1" placeholder="Enter Password"><br>

        <label for="password2"></label><br>
        <input type="password" id="password2" placeholder="Confirm Password"><br><br>

        {{!-- <label for="state-id">State identification number:</label><br>
        <input type="text" id="state-id" placeholder="License number"><br>

        <label for="bank-name">Name of Financial Institution:</label><br>
        <input type="text" id="bank-name" placeholder="Name of bank"><br>

        <label for="account-number">Account Number:</label><br>
        <input type="number" id="account-number" placeholder="Bank account number"><br>

        <label for="bank-routing">Bank Routing Number:</label><br>
        <input type="number" id="bank-routing" placeholder="9 digit routing number"><br><br> --}}

        <button><strong>Submit</strong></button>
    </form>
</div>

<div class="create-check">
   <br> <h3>Already have an account?<a href="/login"><br> Login!</a></h3>
</div>

<div class="logo-card">
<img src="/assets/METAMEME.png" style="height: 35vh; width: 35vh;" alt="$">


</div>

<script src="/js/signup.js"></script>