:root {
    --black: #111111;
    --white: #cccccc;
    --gold: goldenrod;
    --silver: #fff;
}

* {
    margin: 0;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

input {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

button {
    border-radius: 10px;
}

body {
    color: var(--white);
    background: var(--black);
    background-image: linear-gradient(to bottom left, #0b0b0b, #090909);
    /* background-image: linear-gradient(to right, var(--black), rgb(10, 10, 10)); */
}

.card {
    position: relative;
    margin: 1.4vw;
    box-shadow: rgb(230, 221, 221) 0 0 5px;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 12px;
    max-width: 90vw;
}

#card_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.card img {
    border-radius: 15px 15px 0 0;
}

.card:hover {
    box-shadow: var(--white) 0 0 10px;
    transform: scale(1.025);
    transition: transform .2s;
}

.meme {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding-bottom: 12px;
}

.color-text {
    background-image: linear-gradient(to right, rgb(78, 0, 93), rgb(201, 92, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


main {
    position: fixed;
    width: 100%;
    z-index: 3;
    
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 2vw; */
    margin: auto;
    top: 0;
    background: var(--black);
    border-bottom: 3px solid black;
    box-shadow: black 0 0 20px;
    font-size: 1.5vw;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(9, 9, 9));
}

#topnav_link {
    display: flex;
    align-items: center;
}

#spacer {
    height: 6vw;
    /* min-height: 80px; */
}

.create-message,
.create-form,
.welcome,
.create-check,
#login-form1, #login-form2, #login-form3 {
    margin-left: 10px;
}

.create-form button {
    color: white;
}

#title {
    display: block;
    font-size: 2.5vw;
    position: absolute;
    margin-left: auto;
    width: 30vw;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#title_gold {
    color: var(--gold)
}

#title_white {
    color: var(--white)
}

#title_gray {
    color: gray
}

.link {
    padding: 1vw;
    color: var(--white);
}


.buy-sell {
    /* margin: 1em; */
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--white);
    max-width: 100vw;
}

#buyMe{
    width:150px;
    height:70px;
    background: linear-gradient(to left top, #51ff0d 25%, #090909 25%);
    border-style: none;
    border-radius: 15px;
    color:#fff;

    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
#buyMe span{
    position: absolute;
    display: inline-block;
}
#buyMe span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #51ff0d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
#buyMe span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #51ff0d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
#buyMe span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #51ff0d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

#buyMe span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #51ff0d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

#buyMe:hover{
    transition: all .5s;
    transform: rotate(3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
#buyMe:hover span{
    animation-play-state: paused;
}

#sellme{
    width:150px;
    height:70px;
    background: linear-gradient(to right top, #fc0905 25%, #090909 25%);
    border-style: none;
    border-radius: 15px;
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
#sellme span{
    position: absolute;
    display: inline-block;
}
#sellme span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #e43a36);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
#sellme span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #fc0905);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
#sellme span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #fc0905);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

#sellme span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #e43a36);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

#sellme:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
#sellme:hover span{
    animation-play-state: paused;
}

#home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--white);
    margin: 2vw;
}

#user_title {
    font-size: 6vh;
    text-align: center;
    /* position: fixed; */
    /* margin: 1vw; */
}

#user_title span {
    font-size: 120%;
    color: var(--gold);
}

.user_subtitle {
    margin: 2vw 0vw 0;
    font-size: 20px;
    text-align: center;
    /* position: fixed; */
    /* opacity: 0.8; */
}

.user_subtitle span {
    font-size: 120%;
    color: var(--gold);
}

#user_created {
    border-top: solid rgb(0, 0, 0, 0.35) 3px;
}

#user_created_memes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--white);
    margin: 0 2vw 2vw 2vw;
}

#user_owned {
    border-top: solid rgb(0, 0, 0, 0.35) 3px;
    margin-top: 3vw;
}

#user_owned_memes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--white);
    margin: 0 2vw 2vw 2vw;
}

#user_logout {
    border-top: solid rgb(0, 0, 0, 0.35) 3px;
    margin-top: 3vw;
    text-align: center;
    padding: 4vw
}

#user_logout a {
    color: var(--white);
    font-size: x-large;
}

#meme {
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--white);
    max-width: 100vw;
    /* max-height: 100vh; */
}

.memepage_meme {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    height: 25vw;
    max-width: 90vw;
}

.memepage_meme img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: rgb(187, 177, 177) 0 0 4px;
    z-index: 2;
    border-radius: 15px;
}


.stats {
    padding: 4vw;
    max-width: 500px;
    font-size: 20px;
    text-align: center;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.stats a {
    background-image: linear-gradient(to right, rgb(255, 0, 13), rgb(255, 0, 255), rgb(106, 255, 0), rgb(0, 217, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#upload {
    padding: 50px;
    text-align: center;
}

#meme_upload_container {
    height: 420px;
    width: 420px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

#choose_meme {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    height: 380px;
    width: 380px;
    border: 5px dashed gray;
    border-radius: 15px;
}

#meme_img img {
    box-shadow: black 0 0 20px;
    border-radius: 15px;
    height: 380px;
    width: 100%
}

#upload input {
    margin: 10px;
    width: 150px;
}

#prices {
    font-family: 'Bungee', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
  
#prices td, #prices th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}
  
#prices tr:nth-child(even){
    background-color: #111111;
    text-align: center;
}
  
#prices tr:hover {background-color: rgb(49, 44, 44);
}
  
#prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#prices1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
  
#prices1 td, #prices1 th {
    border: 1px solid white;
    padding: 8px;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
  
#prices1 tr:nth-child(even){
    background-color: #111111;
    text-align: center;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
  
#prices1 tr:hover {background-color: rgb(49, 44, 44);
}
  
#prices1 th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
    text-align: center;
    color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#sold-shares, #ownership {
    background-image: linear-gradient(to right, rgb(255, 0, 13), rgb(255, 0, 13), #51ff0d, #51ff0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 3px;
  color: rgb(16, 16, 15);
	-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}



@media screen and (max-width: 768px) {

    main {
        position: absolute;
    }

    #topnav {
        flex-wrap: wrap;
        justify-content: space-around;
        /* height: 20px; */
    }
/* 
    #home {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: var(--white);
        margin-top: 20vw;
    } */
    
    /* #spacer {
        height: 100px;
    } */

    .link {
        font-size: large;
    }

    #title {
        width: 100%;
        font-size: x-large;
        position: relative;
    }

    .memepage_meme {
        height: 100%;
        width: 90vw;
    }

    .memepage_meme img {
        width: 100%;
    }

    #meme {
        margin-top: 7.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: var(--white);
        max-width: 100vw;
    }

    .welcome {
        justify-content: center;
        text-align: center;
        margin: auto;
        display: flex;
        margin-top: 143px;
    }


    #user_title {
        font-size: large;
    }

    .user_subtitle {
        margin: 8vw 0vw 0;
    font-size: 20px;
    text-align: center;
    }
    
    #user_logout a {
        font-size: large;
    }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #choose_meme {
        width: 60vw;
        height: 30vh;
        cursor: pointer;
        display: flex;
        /* margin: auto; */
        align-items: center;
        /* justify-content: space-around; */
        max-height: 30vh;
        max-width: 30vh;
        border: 5px dashed gray;
        /* border-radius: 15px; */
    }
    #meme_upload_container {
        max-height: 50vh;
        max-width: 60vw;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }
    
    #meme_img img {
        box-shadow: black 0 0 20px;
        border-radius: 15px;
        height: 30vh;
        width: 20vh;
    }

    #home {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: var(--white);
        margin-top: 15vw;
    }
    
    #upload input {
        margin: 10px;
        width: 150px;
    }

    .card {
        position: relative;
        margin: 1.4vw;
        box-shadow: rgb(216, 203, 203) 0 0 5px;
        border-radius: 15px;
        text-align: center;
        padding-bottom: 12px;
        max-width: 90vw;
        margin-top: 30px;
    }
    
}    
      

.welcome {
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 126px;
}

#login-form1, #login-form2, #login-form3, .create-check, .login-btn, .create-form {
    justify-content: center;
    text-align: center;
    margin: 30px;
   display: flex;
   /* margin: auto; */
}

.login-btn, strong {
    margin: auto;
    color: goldenrod;
    width: 100px;
}

.login-btn:hover {
    transition: all .5s;
    transform: rotate(-1deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.login-btn:hover span{
    animation-play-state: paused;
}

.logo-card {
        position: relative;
        margin: auto;
        /* box-shadow: rgb(216, 203, 203) 0 0 5px; */
        border-radius: 15px;
        text-align: center;
        padding-bottom: 12px;
        /* max-width: 60vw; */
}

#signup-username, #signup-email, #password1, #password2 {
    margin: 7px;
}

#yeet {
    color: goldenrod;
    margin-top: 10px;
}


